[submodule "Vendor/liblo"]
	path = Vendor/liblo
	url = https://jamiebullock@github.com/radarsat1/liblo.git
[submodule "Vendor/hexter"]
	path = Vendor/hexter
	url = https://jamiebullock@github.com/BirminghamConservatoire/hexter.git
